.navBarItems{
    margin-right: 2%;
}

body{
    background-image: url('https://cdn.wallpaperhub.app/cloudcache/7/4/f/3/d/5/74f3d51cbec9db78da32e103de1b28538af1b76a.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.loginContainer{
    padding: 1%;
    background-color: beige;
    border-radius: 1.2vh;
    opacity: 0.9;
    width: 25%;
    height: 70%;
    margin-left: 37.5%;
    margin-right: 37.5%;
    margin-top: 15%;
    margin-bottom: 15%;
}